


  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/fjswhl" title="@fjswhl's weibo" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/fjswhl" title="@fjswhl's Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/fjswhl" title="@fjswhl" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

  <!-- Google Plus -->
  <li class="navigation__item">
    <a href="https://plus.google.com/115975657155666869847" title="@fjswhl" target="_blank">
      <i class='social fa fa-google-plus'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

  <!-- Linkedin -->
  <li class="navigation__item">
    <a href="http://www.linkedin.com/profile/view?id=364599133" title="@fjswhl" target="_blank">
      <i class='social fa fa-linkedin'></i>
      <span class="label">Linkedin</span>
    </a>
  </li>
  

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:huanglexus@gmail.com" title="contact me">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>
